<div class="form-group">
    <input type="submit" value=@SR["Confirmar"] class="btn btn-info" />
    <a asp-action="Index" class="btn btn-danger">@SR["Cancelar"]</a>
</div>
<div>
    <a asp-action="Index">@SR["Voltar para a lista"]</a>    
</div>