@model ControleFinanceiroWeb.Models.Entidade
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">@SR["Editar"]</a>
    <a asp-action="Index" class="btn btn-danger">@SR["Cancelar"]</a>
</div>
<br /><br />
<div>
    <a asp-action="Index">@SR["Voltar para a lista"]</a>
</div>