
@{
    ViewBag.Title = "Convidados";
}

<h2>Gestão de Convidados</h2>
<h3>Selecione uma opção:</h3>
<ul>
    <li>@Html.ActionLink("Incluir Novo Convidado", "Incluir")</li>
    <li>@Html.ActionLink("Listar Convidados", "Listar")</li>
    <li>@Html.ActionLink("Listar Convidados(Ajax)", "ListarPorEvento")</li>
    <li>@Html.ActionLink("Visualizar Mensagens", "Visualizar")</li>
</ul>
