
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Conteudo</title>
</head>
<body>*@
    <div> 
        <h1>Conteúdo fornecido pelo action Conteudo()</h1>
    </div>
@*</body>
</html>*@
