
@{
    ViewData["Title"] = "Index";
}

<h2>Clínica - MVC Core</h2>

<ul>
    <li><a asp-controller="Clinica" asp-action="IncluirPaciente">Incluir Novo Paciente</a></li>
    <li><a asp-controller="Clinica" asp-action="ListarPacientes">Listar Paciente</a></li>
</ul>