@{
    ViewBag.Title = "Home Page";
}


<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Listar Tipos de Conta", "Index", "TipoContas")</li>
    <li>@Html.ActionLink("Listar Contas", "Index", "Contas")</li>
</ul>

