
@{
    ViewBag.Title = "Eventos";
}

<h2>Gestão de Eventos</h2>
<h3>Selecione uma opção:</h3>
<ul>
    <li>@Html.ActionLink("Incluir Novo Evento", "Incluir")</li>
    <li>@Html.ActionLink("Listar Eventos", "Listar")</li>
</ul>

