
@{
    ViewBag.Title = "Pagamentos";
}

<h2>Pagamentos</h2>

<ul>
    <li>@Html.ActionLink("Efetuar Pagamento", "EfetuarPagamento")</li>
    <li>@Html.ActionLink("Listar Pagamentos", "ListarPagamentos", "Pagamentos")</li>
</ul>